LOG_URL=http://20.244.56.144/evaluation-service/logs
BEARER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJiMjJjczEwMUBraXRzdy5hYy5pbiIsImV4cCI6MTc1NzMxMzAyOCwiaWF0IjoxNzU3MzEyMTI4LCJpc3MiOiJBZmZvcmQgTWVkaWNhbCBUZWNobm9sb2dpZXMgUHJpdmF0ZSBMaW1pdGVkIiwianRpIjoiZjczZDk3MjYtMjAzYy00ZmY5LWEwMmQtYWZmY2E4ZjZmZTUzIiwibG9jYWxlIjoiZW4tSU4iLCJuYW1lIjoiYW5qYW5pIGt1bWFyIGJ1ZGlnZSIsInN1YiI6IjNjM2Y1MDI0LTlhZTMtNDhjMi1hOWQyLWU5NzRkMTdiZTE4MyJ9LCJlbWFpbCI6ImIyMmNzMTAxQGtpdHN3LmFjLmluIiwibmFtZSI6ImFuamFuaSBrdW1hciBidWRpZ2UiLCJyb2xsTm8iOiJiMjJjczEwMSIsImFjY2Vzc0NvZGUiOiJxcVF6WmsiLCJjbGllbnRJRCI6IjNjM2Y1MDI0LTlhZTMtNDhjMi1hOWQyLWU5NzRkMTdiZTE4MyIsImNsaWVudFNlY3JldCI6ImZGTktSVU1EUkhBcGRUSmoifQ.VJGHUBKoy6-eoC2LaJO2iE27kCNGExZzR_JPk2WNbio
PORT=3000
